/* HTML */
html { -webkit-font-smoothing: antialiased;}

/* Body */
body {background-color: #FEFEFE; font: 16px Raleway, sans-serif; -webkit-font-smoothing: antialiased;}

/* Display */
.no-display {display: none;}
.no-visibility {visibility: hidden;}

/* Padding */
.no-padding-right {padding-right: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}
.padding-main-section {padding: 4vh 4vh 4vh 4vh;}
.padding-section {padding: 13vh 0 13vh 0;}
.padding-section-enlarged {padding: 25vh 0 25vh 0;}
@media only screen and (max-width: 767px) {.padding-section-enlarged {padding: 12vh 0 12vh 0;}}
@media only screen and (min-width: 768px) and (max-width: 1024px) {.padding-section-enlarged {padding: 20vh 0 20vh 0;}}

/* Margin */
.margin-bottom-button {margin-bottom: 4vh !important;}
.margin-bottom-button-half {margin-bottom: 2vh !important;}
.margin-bottom-section {margin-bottom: 7vh;}
.margin-top-section {margin-top: 7vh;}
.mt-3 {margin-top: 3vh;}
.mt-4 {margin-top: 4vh;}
.no-margin-bottom {margin-bottom: 0 !important;}
.no-margin-top {margin-top: 0 !important;}

/* Elements position */
.center {display: block; margin: 0 auto !important;}
.center-text {text-align: center;}
.justify {text-align: justify;}
.left {float: left;}
@media only screen and (max-width: 1024px) {.left {display: block; float: none; margin: 0 auto !important; margin-bottom: 4vh !important; margin-top: 10px !important;}}
.right {float: right;}
@media only screen and (max-width: 1024px) {.right {display: block; float: none; margin: 0 auto !important;}}

/* Section dimensions */
/*.hero-full-screen {height: 100vh;}*/
.section-copyright {margin: 10px 0 10px 0 !important;}
.section-pre-footer {padding: 7vh 0 7vh 0;}

/* Colors */
.color-black {color: #343434;}
.color-dimgray {color: #4B7781;}
.color-red {color: #AC3720;}
.color-white {color: #FEFEFE;}

/* Links */
.section-pre-footer a, .white-link {color: #FEFEFE; text-decoration: underline;}
.section-pre-footer a:hover, .white-link:hover {color: #CCCECF;}

/* Font styles */
.bold {font-weight: 600;}
.italic {font-style: italic;}
.underline {cursor: pointer; text-decoration: underline;}
.no-underline {cursor: pointer; text-decoration: none;}
.no-underline:hover {cursor: pointer; text-decoration: none;}
@media only screen and (max-width: 320px) {.font-mail{font-size: 11px;}}
@media only screen and (min-width: 321px) and (max-width: 767px) {.font-mail{font-size: 14px;}}
/* Background colors */
/*.background-black {background-color: #343434;}*/
.background-dimgray {background-color: #4B7781;}
.background-dimgray-md {background-color: #729FAA;}
.background-gray {background-color: #EFF3F5;}
/*.background-hero {background-image: url("img/background.png"); background-repeat: no-repeat; background-size: cover;}*/
/*@media only screen and (max-width: 1024px) {.background-hero {background-image: none; background-color: #E8E7F0;}}*/
.background-red {background-color: #AC3720;}
.background-white {background-color: #FEFEFE;}

/* Titles */
.copyright-title {font: 15px Raleway, sans-serif; letter-spacing: 0.6px; text-align: center;}
.main-title {font: 36px Raleway, sans-serif; font-weight: 400; text-align: center; text-transform: uppercase; line-height: 65px; color: #343434; text-align: right;}
@media only screen and (max-width: 767px) {.main-title {font-size: 35px; line-height: 40px;}}
@media only screen and (max-height: 415px) {.main-title {font-size: 30px;}}
.main-subtitle-enlarged {font: 25px Raleway, sans-serif; letter-spacing: 2px; text-align: center; line-height: 65px; color: #343434;}
@media only screen and (max-width: 767px) {.main-subtitle-enlarged {font-size: 21px; line-height: 30px;}}
@media only screen and (max-height: 415px) {.main-subtitle-enlarged {font-size: 18px;}}
.main-subtitle {font: 21px Raleway, sans-serif; letter-spacing: 2px; text-align: center; color: #343434;}
.pre-footer-title {font: 21px Raleway, sans-serif; letter-spacing: 2px; text-align: center;}
.pre-footer-subtitle {font: 17px Raleway, sans-serif; letter-spacing: 2px; text-align: center;}
.secondary-title {font: 35px Raleway, sans-serif; letter-spacing: 2px; text-align: center;}
@media only screen and (max-width: 767px) {.secondary-title {font-size: 25px;}}
@media only screen and (max-height: 415px) {.secondary-title {font-size: 15px;}}
.thumbnail-title {font: 20px Raleway, sans-serif; font-weight: 600; letter-spacing: 2px;}
.programme-title {font: 15px Raleway, sans-serif; letter-spacing: 2px; line-height: 65px; color: #343434; text-transform: uppercase;}

/* Paragraphs */
.pre-footer-p {font: 17px Raleway, sans-serif; letter-spacing: 0.6; line-height: 1.6; text-align: center;}
.p-section {font: 18px Raleway, sans-serif; letter-spacing: 0.6; line-height: 1.6; }
.p-section-specification {font: 12px Raleway, sans-serif; color: #6B6A6A}
.presenter {font: 12px Raleway, sans-serif; letter-spacing: 0.6; line-height: 1.6;}
.moderator {font: 12px Raleway, sans-serif; background: #EFF3F5; border-radius: 37px; color: #6B6A6A; padding: 5px; letter-spacing: 0.6; line-height: 1.6;}
.program-row {margin-top:2vw; margin-bottom:2vw}
.p-subsection {font: 16px Raleway, sans-serif; letter-spacing: 0.6; line-height: 1.6;}

/* Navbar */
.nav a {color: #343434; cursor: pointer; font: 14px Raleway, sans-serif; letter-spacing: 2px; text-transform: uppercase;}
@media only screen and (max-width: 1024px) {.nav a {font-size: 12px;}}
.nav a:hover {color: #4B7781;}
.active > a {background-color: transparent !important; color: #4B7781 !important; font-weight: 600; text-shadow: 10px 10px 31px -2px rgba(179,177,179,0.77);}
.navbar-brand {background-color: #FFF; padding-top: 0 !important;}
@media only screen and (max-width: 1024px) {.navbar-brand > img {display: none !important;}}
.navbar-default {background-color: #FFF !important; background-image: none !important; border: 0 !important; box-shadow: none !important; -webkit-box-shadow: none !important;}
.mobile-home {display: none;}
@media only screen and (max-width: 1024px) {.mobile-home {display: block !important;}}
@media only screen and (max-height: 415px) {.mobile-home-img {display: none;}}

/* Hr */
.hr-card {border: 3px solid; width: 75%;}
.hr-circle {border: 3px solid; width: 60%;}
.hr-main {border: 4px solid; width: 60%;}
.hr-secondary {border: 4px solid; width: 40%;}

/* Button */
.button-round {background-color: #AC3720; border: 1px solid #AC3720; border-radius: 37px; color: #fff; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round:hover {background-color: transparent; border: 1px solid #AC3720; border-radius: 37px; color: #AC3720; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-empty {background-color: transparent; border: 1px solid #AC3720; border-radius: 37px; color: #AC3720; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-dimgray {background-color: #4B7781; border: 1px solid #4B7781; border-radius: 37px; color: #fff; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-dimgray:hover {background-color: #FEFEFE; border: 1px solid #4B7781; border-radius: 37px; color: #4B7781; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-empty-dimgray {background-color: transparent; border: 1px solid #4B7781; border-radius: 37px; color: #4B7781; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-red {background-color: #AC3720; border: 1px solid #AC3720; border-radius: 37px; color: #fff; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-empty-red {background-color: transparent; border: 1px solid #AC3720; border-radius: 37px; color: #AC3720; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-white {background-color: #FEFEFE; border: 1px solid #FEFEFE; border-radius: 37px; color: #AC3720; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-round-white:hover {background-color: #AC3720; border: 1px solid #FEFEFE; border-radius: 37px; color: #FEFEFE; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-dimgray {background-color: #FEFEFE; border: 1px solid #FEFEFE; border-radius: 37px; color: #4B7781; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-dimgray:hover {background-color: #4B7781; border: 1px solid #FFF; border-radius: 37px; color: #FFF; font: 16px Raleway, sans-serif; margin: 10px 0 14px; padding: 13.6px 16px;}
.button-inline {text-align: center;}
.button-inline a, .button-inline button {display: inline;}

/* Homepage */
.homepage-side {font: 15px Raleway, sans-serif; letter-spacing: 2px; line-height: 45px; color: #343434; text-transform: uppercase;}
.homepage-side-right {font: 15px Raleway, sans-serif; letter-spacing: 2px; line-height: 45px; color: #343434; text-transform: uppercase; text-align: right;}
.homepage-img {background-attachment: fixed; background-image: url('img/background/background.jpeg'); background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; height: 50%;}

@supports (-webkit-touch-callout: none) {
    .homepage-img {background-image: url('https://shintaoosterwaal.com/wp-content/uploads/2018/01/9d6c8f2107e31a4eb6a687050d511f63-564x675.jpg'); background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; height: 50%;}
}

/* Time */
.time-span {background: #EFF3F5; border-radius: 37px; color: #6B6A6A; padding: 5px; font-size:16px}
.time-border {border-left: 5px solid #4B7781;}

/* List */
.p-list {font: 14px Raleway, sans-serif; letter-spacing: 0.6; line-height: 1.6;}
.p-list li:hover {color: #4B7781;}
.p-list li.bold {color: #4B7781;}

/* Cards */
.circle {background-color: #bbb; border-radius: 50%; display: block; height: 15vh; margin: 20px auto; width: 15vh;}
@media only screen and (max-width: 1024px) {.circle {background-color: #bbb; border-radius: 50%; display: block; height: 10vh; margin: 20px auto; width: 10vh;}}
.circle:hover {box-shadow: 0px 2px 30px -1px rgba(52,52,52,0.4);}
.thumbnail {background-color: #FEFEFE !important; border: 0 !important; border-radius: 37px !important; box-shadow: 10px 10px 31px -2px rgba(179,177,179,0.1) !important; height: 25vh; margin-bottom: 0 !important; padding: 2vh !important;}
.thumbnail .caption {padding: 3vh !important;}
@media only screen and (max-width: 1024px) {.thumbnail-title {margin-top: 20px !important;}}

/* Img cards - Insert the images of your relators here as background-image */
#gangemi {background-image: url("https://www.unibo.it/uniboweb/utils/UserImage.aspx?IdAnagrafica=665563&IdFoto=4fd27ddf"); background-size: cover; background-repeat: no-repeat;}
#italia {background-image: url("https://www.unibo.it/uniboweb/utils/UserImage.aspx?IdAnagrafica=1043881&IdFoto=a08fc8d0"); background-size: cover; background-repeat: no-repeat;}
#vitali {background-image: url("https://www.unibo.it/uniboweb/utils/UserImage.aspx?IdAnagrafica=228626&IdFoto=66cd7eaf"); background-size: cover; background-repeat: no-repeat;}
#peroni {background-image: url("https://www.unibo.it/uniboweb/utils/UserImage.aspx?IdAnagrafica=432345&IdFoto=b2a00359"); background-size: cover; background-repeat: no-repeat;}
#daquino {background-image: url("https://www.unibo.it/uniboweb/utils/UserImage.aspx?IdAnagrafica=510355&IdFoto=4f676df2"); background-size: cover; background-repeat: no-repeat;}
#bonora {background-image: url("https://centri.unibo.it/dharc/en/centre/collaborators/paolo-bonora/@@images/1906b6ea-b8d7-403a-87a7-b788bc758e8d.png"); background-size: cover; background-repeat: no-repeat;}
#beretta {background-image: url("img/speakers/beretta.png"); background-size: cover; background-repeat: no-repeat;}
#ciula {background-image: url("https://kdl.kcl.ac.uk/static/media/images/Arianna_lq.width-300.jpg"); background-size: cover; background-repeat: no-repeat;}
#donig {background-image: url("https://neoclassica.fim.uni-passau.de/wp-content/uploads/20090815-_MG_5203.jpg"); background-size: cover; background-repeat: no-repeat;}
#heuvel {background-image: url("https://www.uva.nl/binaries/_ht_1456394898867/content/documents/personalpages/h/e/c.m.j.m.vandenheuvel/profilepicture"); background-size: cover; background-repeat: no-repeat;}
#hiltmann {background-image: url("https://www.geschichte.hu-berlin.de/de/bereiche-und-lehrstuehle/digital-history/bilder/torsten_hiltmann_foto/@@images/4760601b-2a3b-4c28-8019-eb1d035f4bdd.png"); background-size: cover; background-repeat: no-repeat;}
#scheltjenss {background-image: url("https://www.uni-bamberg.de/fileadmin/_processed_/4/8/csm_2021-02-19_Scheltjens-Portrait_web_1e7e631134.jpg"); background-size: cover; background-repeat: no-repeat;}
#tomasi {background-image: url("https://centri.unibo.it/dharc/en/centre/centre-people/francesca-tomasi/@@images/37a8adcd-389a-4c2b-bbf6-e8e87355b7ca.jpeg"); background-size: cover; background-repeat: no-repeat;}
#Alamacery {background-image: url("img/speakers/alamacery.png"); background-size: cover; background-repeat: no-repeat;}
#derks {background-image: url("https://0.academia-photos.com/7840760/2775157/3833074/s200_sebastiaan.derks.jpg"); background-size: cover; background-repeat: no-repeat;}

/* Icons */
.fa-copy:hover {color: #FEFEFE; font-size: 20px;}

/* Brand */
@media only screen and (max-width: 1024px) {.brand {margin-top: 2vh;}}

/* Mail */
.mail {font: 15px Raleway, sans-serif; vertical-align: top;}

/* Papers section */
.papers-sec {background: #FEFEFE; border-radius: 37px; padding: 3% 5%;}

/* no bullet lists */
.no-bullet {
  list-style-type: none;
}

/* MOBILE OPTIMIZATION */
@media (max-width: 961px) {
    /* Logo */
    img.mobile-home-img.center {height: 20%; width: auto;}
    /* Subtitle */
    .main-subtitle {font-size: 16px;}
    .secondary-title {font-size: 22px;}
    /* Subtitle enlarged */
    .main-subtitle-enlarged {font-size: 19px; line-height: 25px; padding: 3%;}
    /* Cards */
    .thumbnail {height: 32vh;}
    /* Circles */
    .circle {height: 20vh; width: 20vh;}
    /* Lists */
    .p-list {background: #FEFEFE; border-radius: 37px; padding: 7%; padding-left: 15%;}
    /* Papers */
    .papers-sec {padding: 7%;}
    /* Mail */
    .font-mail {font-size: 20px;}
    /* Pre-footer title */
    .pre-footer-title {font-size: 16px;}
    /* Pre-footer subtitle */
    .pre-footer-subtitle {font-size: 15px;}
    /* Pre-footer p */
    .pre-footer-p {font-size: 14px;}
    /* Copyright */
    .copyright-title {font-size: 10px;}
}

/* galaxy fold min-width 279px */
@media (max-width: 281px) {
    /* Main title */
    .main-title {font-size: 30px;}
    /* Mail */
    .font-mail {font-size: 15px;}
}
